page-report-condensation {
  h3.damaged-result {
    padding: 1rem;
    background: cornflowerblue;
    margin: 1rem;
    border-radius: 1rem;
    color: #fff;
  }
  
  input[placeholder=Comments] {font-size: 1.2rem}
}