ion-card {
  border: 1px solid #96be10;
  border-radius: 2rem !important;
  background: #96be10 !important;

  h1 {
    color: #fff;
  }

  svg {
    width: 40%;
    height: auto;
    margin: 2rem auto;

    * {
      fill: #fff;
    }
  }

  &.disabled {
    border: 1px solid #cccccc;
    background: #cccccc !important;
    pointer-events: none;
    box-shadow: inset 3px 3px 3px rgba(100, 100, 100, .4);

    h1 {
      color: #b3b3b3 !important;
    }

    svg {
      * {
        fill: #b3b3b3 !important;
      }
    }
  }
}
