.edit_surface_material {
  ion-input {
    &.literal {
      display: block;
    }

    &.numeric {
      display: none;
    }
  }

  &.editable {
    ion-input {
      &.literal {
        display: none !important;
      }

      &.numeric {
        display: block !important;
      }
    }
  }
}

[fixed-segment] {
  padding-top: 67px !important;

  > ion-segment {
    position: fixed;
    top: 60px;
    width: calc(50% - 12px);
    z-index: 2;
    background: #fff;
  }
}

.item-inner {
  -webkit-box-shadow: 0 !important;
  box-shadow: 0 !important;
}

.pr-0 {
  padding-right: 0;
}
ion-col[toggle-container] {
  padding-top: 14px;
  padding-left: 0;
  text-align: center;

  ion-item {
    //padding-top: 11px;
    padding-left: 0;
    flex-direction: column;

    ion-label {
      //float: left;
      font-weight: 100;
      //margin-top: 25px;
      //font-size: .9rem;
      color: #999;
      font-weight: 400;
      text-align: center;
    }

    ion-toggle {
      padding-left: 0;
      padding-bottom: 11px;
    }
  }

  ion-toggle {
    float: left;
    margin-top: 0.25rem;
    padding-left: 0;
  }
}
ion-app.ios {
  ion-col[toggle-container] {
    ion-item {
      ion-toggle {
        padding-bottom: 6px !important;
        margin-top: -4px;
      }
    }
  }
}

button[ion-button][round][outline] {
  padding: 1rem 0 !important;
  width: 100%;
}
