$colors-primary : #488aff;
$colors-secondary : #32db64;
$colors-danger : #f53d3d;
$colors-light : #f4f4f4;
$colors-dark : #222;
$colors-gray : #aaa;
$colors-blue : #014a97;
$colors-green : #96be10;

ion-toolbar {
  background-color: #014a97;
}

form {
  overflow: scroll;
}